@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

}

/* for blue arrow button on homepage bc it spins too fast and tailwind can't do anything about it */
.animatedButton {
  animation-duration: 10000ms;
}

::-webkit-scrollbar {
  display: none;
}

/* for quill text editor container so that there are no borders */
.ql-container{
  border: none !important;
}

.ql-toolbar{
  border: none !important;
}

.ql-editor{
  border: none !important;
}

/* a temp fix to double toolbar bug with quill */
.quill > .ql-toolbar:first-child {
  display: none !important;
}