@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

}

/* for blue arrow button on homepage bc it spins too fast and tailwind can't do anything about it */
.animatedButton {
  animation-duration: 10000ms;
}

::-webkit-scrollbar {
  display: none;
}
